@import url(http://fonts.googleapis.com/css?family=Raleway:700,800);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
#preview-img{
    width:200%;
    height: 100%;
    position:absolute;
    
}
span.home-text{
    font-family: Raleway;
    font-size: 5em;
    color: #fff;
    text-align: center;
}

.bg.parallax{
   
    text-align:left;
}
.menu-parallax{
    height:300px;
    clear:both;
    text-align:left;
}
#container {
    background-color:black;
    width:100%;   
    height:400px;
    overflow:hidden;

}
div {position:fixed;}
.go-home {
    position: relative;

    .big-animated-text{
    width:40%;
    left:15%;
    top:10%;
    }
    a.button{
        position: inherit;
        top:54%;
        left:40%;
        width: 190px;
        height: 70px;
        font-size:20px;
        padding-top:10px;
    }
}

.bg {
    right:10%;
    width:100%; 
    height:120%; 
   }
   svg {
       display: block;
       font: 10.5em 'Montserrat';
       width: 960px;
       height: 300px;
       margin: 0 auto;
   }
   
   .text-copy {
       fill: none;
       stroke: white;
       stroke-dasharray: 6% 29%;
       stroke-width: 5px;
       stroke-dashoffset: 0%;
       animation: stroke-offset 5.5s infinite linear;
       
   }
   
   .text-copy:nth-child(1){
       stroke: #784FBB;
       animation-delay: -1;
   }
   
   .text-copy:nth-child(2){
       stroke: #5B2ADD;
       animation-delay: -2s;
   }
   
   .text-copy:nth-child(3){
       stroke: #472898;
       animation-delay: -3s;
   }
   
   .text-copy:nth-child(4){
       stroke: #784FBB;
       animation-delay: -4s;
   }
   
   .text-copy:nth-child(5){
       stroke: #5B2ADD;
       animation-delay: -5s;
   }
   
   @keyframes stroke-offset{
       100% {stroke-dashoffset: -35%;}
   }