@import url(http://fonts.googleapis.com/css?family=Raleway:700,800);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(../fonts/museosanscyrl.css);
@import url(../fonts/GothaProMed.otf);
@import url(../fonts/Apercu_Pro_Italic.ttf);
@import url(https://fonts.googleapis.com/css?family=Lusitana);
$white:rgba(255, 255, 255, 0.938);
$red: #fa4e40;
$violet-light: #784FBB;
$violet:#472898;
$violet-superLight:#785EBC;
$blue:#250D63;
$grey-text-light: rgb(207, 204, 204);
$grey-light:#f2f2f2;
$pinky:#701F93;
$dark-blue:rgb(19, 15, 29);
$font-cyrillic:MuseoSansCyrl,
sans-serif;
$font-big:Montserrat,
sans-serif;
$font-italic:Apercu Pro,
sans-serif;
$font-gotham-Pro:Gotham Pro,
sans-serif;
@-webkit-keyframes fade-in {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fade-in {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fade-in {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes moving {
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes envelope-front {
    0% {
        top: 10em;
        z-index: 0;
    }
    50% {
        top: 15em;
        z-index: 9;
    }
    100% {
        top: 10em;
        z-index: 9;
    }
}

@keyframes envelope-back {
    0% {
        top: 0;
    }
    50% {
        top: 5em;
    }
    100% {
        top: 0;
    }
}

@keyframes envelope-back-before {
    0% {
        border-color: transparent transparent #d3d3d3 transparent;
        transform: rotateX(0deg);
        z-index: 0;
    }
    100% {
        border-color: transparent transparent #fff transparent;
        transform: rotateX(180deg);
        z-index: 99;
        position: relative;
    }
}

html,body {
    overflow-x: hidden; 
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-animation: fade-in 1s linear;
    /* Safari 4+ */
    -moz-animation: fade-in 1s linear;
    /* Fx 5+ */
    -o-animation: fade-in 1s linear;
    /* Opera 12+ */
    animation: fade-in 1s linear;
    /* IE 10+, Fx 29+ */
}

.site-font-main {
    text-decoration: none;
    outline: none;
    font-family: $font-big;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    &.button {
        text-align: center;
        display: inline-block;
        width: 140px;
        height: 45px;
        line-height: 45px;
        border-radius: 45px;
        margin: 10px 20px;
        color: #524f4e;
        background: white;
        box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
        transition: .3s;
        &:hover {
            background: #784FBB;
            box-shadow: 0 15px 20px #2E0F62;
            color: white;
            transform: translateY(-7px);
        }
    }
    &.url {
        color: black;
        left: 5%;
    }
}

p {
    font: 500 14px/1.86 $font-cyrillic;
    letter-spacing: .025em;
    color: #5e647d;
}

h1 {
    font-size: 60px;
    span {
        color: $violet;
    }
}

div.data-block {
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
    div.full-size-page {
        position: relative;
        width: 100%;
        top: 0%;
        &.box1 {
            height: 80%;
            position: relative;
            background-color: $violet;
        }
        &.box2 {
            height: 300%;
            position: relative;
            background-color: #fff;
            div.down-slider-box {
                float: left;
                position: relative;
                margin-top: 4%;
                margin-bottom: 4%;
                width: 75%;
                a.down {
                    font-size: 30px;
                    margin-left: 10%;
                    color: #524f4e49;
                }
                a.button {
                    background-color: black;
                    width: 180px;
                    height: 70px;
                    font-size: 16px;
                    padding-top: 12px;
                    margin-left: 4%;
                }
            }
            div.phone-box {
                float: left;
                position: relative;
                margin-top: 6.5%;
                width: 25%;
                a.phone {
                    font-size: 14px;
                    color: #535352;
                    font-weight: 1000;
                }
            }
            .first-column {
                height: 8%;
            }
            .second-column {
                height: 36%;
            }
            .third-column {
                float: bottom;
                height: 44%;
            }
            .main-infobox {
                height: 100%;
                position: relative;
                .parallax-image-infobox {
                    float: left;
                    margin-left: 12%;
                    &.box1 {
                        width: 28%;
                        height:100%;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    &.box2 {
                        img {
                            top: 0%;
                            width: 86%;
                            height: 24%;
                        }
                    }
                }
                .parallax-image-infobox2 {
                    position: absolute;
                    right: -7.7%;
                    width: 50%;
                    top: 47%;
                    img {
                        width: 60%;
                        height: 36%;
                    }
                }
                .text-infobox2 {
                    position: relative;
                    left: 16%;
                    padding-top: 26%;
                    width: 32%;
                    height: 160%;
                    h1 {
                        span {
                            color: $violet;
                        }
                        margin-bottom: 16%;
                        font-weight: bolder;
                        font-size: 60px;
                    }
                }
                .text-infobox {
                    float: left;
                    position: relative;
                    width: 30%;
                    margin-left: 10%;
                    margin-top: 6%;
                    h1 {
                        margin-bottom: 16%;
                        font-weight: bolder;
                        font-size: 50px;
                        span {
                            color: $violet;
                        }
                    }
                    .questions-box {
                        top: 0%;
                        width: 100%;
                        p {
                            font: 800 11px/1.7 $font-cyrillic;
                            color: $violet;
                            letter-spacing: 1px;
                            width: 100%;
                            a {
                                font: 800 11px/1.7 $font-cyrillic;
                                letter-spacing: 1px;
                                color: $violet;
                                text-decoration: underline;
                                margin-right: 0;
                                padding-top: 20px;
                            }
                            .site-font-main.button {
                                position: relative;
                                margin: 0 6px;
                                padding-left: 0;
                                padding-top: 2px;
                                color: #fff;
                                background-color: black;
                                width: 26px;
                                height: 26px;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
        &.box3 {
            height: 90%;
            position: relative;
            background-color: #fff;
            margin-top: 12%;
            margin-left: 8%;
            div.why-we-the-best {
                text-align: center;
                div.frst {
                    float: left;
                    width: 28%;
                }
                div.scnd {
                    float: left;
                    width: 28%;
                }
                div.thrd {
                    float: left;
                    width: 28%;
                }
                p {
                    &.booster {
                        color: $violet-light;
                        margin-bottom: 0;
                    }
                }
                h2 {
                    font: 600 36px $font-cyrillic;
                    letter-spacing: 0px;
                    text-transform: none;
                }
                img.booster-img {
                    width: 300px;
                    height: 300px;
                }
            }
        }
        &.box4 {
            height: 100%;
            position: relative;
            width: 100%;
            background-color: $grey-light;
            .headofBlock {
                padding-top: 10%;
                font: 700 12px/1.7 $font-gotham-Pro;
                color: $violet;
                letter-spacing: 1px;
                width: 100%;
                text-align: center;
                text-transform: uppercase;
            }
            .double-background-parallax {
                img.logo-box {
                    margin-top: 6%;
                    margin-left: 18%;
                    float: left;
                    width: 120px;
                    height: 120px;
                }
                span {
                    margin-top: 4%;
                    color: $violet;
                    font: 700 italic 50px/1.7 $font-italic;
                    &.first {
                        margin-left: 40px;
                        float: left;
                    }
                    &.second {
                        float: left;
                    }
                }
                p {
                    font: 400 italic 18px/1.55 $font-italic;
                    margin-left: 3%;
                    margin-right: 1%;
                    margin-top: 6%;
                    float: left;
                    width: 40%;
                }
            }
        }
        &.box5 {
            margin-top: 4%;
            
            position: relative;
            height: 100%;
            .products-all {
                float: left;
                width: 60%;
                $margin-among-way: 8%;
                $animation-time: 60s;
                .image {
                    img.product-logo {
                        width: 160px;
                        height: 160px;
                    }
                    &.events {
                        position: relative;
                        margin-left: 38%;
                        animation: moving $animation-time infinite linear;
                        transform-origin: 20% 190%;
                    }
                    &.shop {
                        float: left;
                        margin-top: $margin-among-way;
                        margin-left: 10%;
                        animation: moving $animation-time infinite linear;
                        transform-origin: 190% 50%;
                    }
                    &.world {
                        margin: $margin-among-way;
                        float: left;
                    }
                    &.cafe {
                        margin-top: $margin-among-way;
                        float: left;
                        animation: moving $animation-time infinite linear;
                        transform-origin: -90% 50%;
                    }
                    &.social {
                        position: absolute;
                        margin-top: 22%;
                        margin-left: 23%;
                        animation: moving $animation-time infinite linear;
                        transform-origin: 50% -90%;
                    }
                }
            }
            .description {
                float: left;
                width: 36%;
                h1 {
                    //color:$violet-blue;
                    font: 700 50px/0.5 $font-cyrillic;
                }
                h2 {
                    font: italic 500 30px/0.5 $font-italic;
                    text-decoration: none;
                    margin-bottom: 5%;
                }
                h3 {
                    margin: 5% 0;
                    text-decoration: underline $pinky;
                }
                a {
                    margin-left: 0;
                    color: black;
                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
        &.box6 {
            background: $blue;
            height: 110%;
            padding-left: 14%;
            padding-top: 14%; // Grid
            @mixin grid($column) {
                width: (100% / 12) * $column;
                margin: 0 auto;
            } // Transition Ease
            @mixin ease($time:333ms, $attr:all, $curve:ease-in-out) {
                -webkit-transition: $attr $time $curve;
                -moz-transition: $attr $time $curve;
                -o-transition: $attr $time $curve;
                -ms-transition: $attr $time $curve;
                transition: $attr $time $curve;
            } //-- Lato --//
            @mixin lato-1 {
                font-family: $font-cyrillic;
                font-weight: 400;
                text-transform: none;
            }
            @mixin lato-1-i {
                @include lato-1;
                font-style: italic;
            }
            @mixin lato-3 {
                font-family: 'Lato', sans-serif;
                font-weight: 300;
            }
            @mixin lato-3-i {
                @include lato-3;
                font-style: italic;
            }
            @mixin lato-4 {
                font-family: 'Lato', sans-serif;
                font-weight: 400;
            }
            @mixin lato-4-i {
                @include lato-4;
                font-style: italic;
            }
            @mixin lato-7 {
                font-family: 'Lato', sans-serif;
                font-weight: 700;
            }
            @mixin lato-7-i {
                @include lato-7;
                font-style: italic;
            }
            @mixin lato-9 {
                font-family: 'Lato', sans-serif;
                font-weight: 900;
            }
            @mixin lato-9-i {
                @include lato-9;
                font-style: italic;
            } // Colors
            $blue:#313A3D;
            $orange:#FD9638;
            $dark-orange:darken($orange, 20%);
            $grey:#B6B6B6;
            $light-grey:lighten($grey, 15%);
            $background:#efefef;
            $field-color:#E8E9EA;
            .content {
                font-size: 62.5%;
                @include lato-3;
                color: $grey;
                section {
                    text-align: center;
                    padding: 0 0 170px;
                    width: 80%;
                    max-width: 1100px;
                    h1 {
                        margin-bottom: 60px;
                        font-size: 5em;
                        text-transform: uppercase;
                        @include lato-1;
                        color: #fff;
                    } // Form
                    form {
                        @include grid(7);
                        .field {
                            width: 100%;
                            position: relative;
                            margin-bottom: 15px;
                            $hover-label-width: 18%;
                            $placeholder-bumper: 1.5%;
                            $label-padding: 18px; // Label
                            label {
                                text-transform: uppercase;
                                position: absolute;
                                top: 0;
                                left: 0;
                                background: $violet-light;
                                width: 100%;
                                padding: ($label-padding + 0px) 0;
                                font-size: 1.45em;
                                letter-spacing: 0.075em;
                                @include ease(333ms); // Checkmark
                                +span {
                                    font-family: 'SSStandard';
                                    opacity: 0;
                                    color: white;
                                    display: block;
                                    position: absolute;
                                    top: 12px;
                                    left: 7%;
                                    font-size: 2.5em;
                                    text-shadow: 1px 2px 0 $dark-orange;
                                    @include ease(333ms);
                                }
                            } // Fields
                            input[type="text"],
                            textarea {
                                border: none;
                                background: $field-color;
                                width: 100% - $hover-label-width - $placeholder-bumper;
                                margin: 0;
                                padding: $label-padding 0;
                                padding-left: $hover-label-width + $placeholder-bumper;
                                color: $blue;
                                font-size: 1.4em;
                                letter-spacing: 0.05em;
                                text-transform: uppercase;
                                &#msg {
                                    height: 56px;
                                    resize: none;
                                    @include ease(333ms);
                                } // Focus and JS Toggle Class
                                &:focus,
                                &.focused {
                                    outline: none;
                                    &#msg {
                                        padding-bottom: 150px;
                                    }
                                    +label {
                                        width: $hover-label-width;
                                        background: $pinky;
                                        color: #fff;
                                    }
                                } // JS Toggle Class
                                &.focused {
                                    +label {
                                        color: $pinky;
                                    }
                                }
                            } // Field Hover
                            &:hover {
                                label {
                                    width: $hover-label-width;
                                    background: $pinky;
                                    color: white;
                                }
                            }
                        } // Submit Button
                        input[type="submit"] {
                            background: $pinky;
                            color: #fff;
                            -webkit-appearance: none;
                            border: none;
                            text-transform: uppercase;
                            position: relative;
                            margin-top: 20px;
                            padding: 16px 50px;
                            font-size: 1.4em;
                            letter-spacing: 0.1em;
                            @include lato-3;
                            @include ease;
                            &:hover {
                                background: white;
                                color: black;
                            }
                            &:focus {
                                outline: none;
                                background: $dark-orange;
                            }
                        }
                    }
                }
            }
        }
        &.box8 {
            background-color: $dark-blue;
            position: relative;
            height: 100%;
            width: 100%;
            color:$white;
            .footer {
                .footer-head {
                    position: relative;
                    width: 100%;
                    .footer-h1{
                        float:left;
                        width:60%;
                        .text{
                            width:60%;
                            padding: 12% 0 0 20%;
                            h2{
                                font: 600 24px/1.1 $font-cyrillic;
                                text-transform: none;
                                text-decoration: none;
                            }
                        }
                    }
                    .circle{
                        text-align: right;
                        float:left;
                        width:40%;
                        img{
                            right:0%;
                            width:160px;
                            height: 160px;
                        }
                    } 
                }
                .footer-neck {
                    position: relative;
                    padding:10% 10% 12% 12%;
                    .parameter{
                        float:left;
                        width:32%;
                        padding-right:6%;
                        h4{
                            font: 600 18px/1.1 $font-cyrillic;
                        }
                        p{
                            color:$grey-text-light;
                            font: 500 12px/1.3 $font-cyrillic;
                        }
                    }
                }
                .footer-body {
                    .imagine {
                         width:70%;
                         height: 160px;
                         background-color: $violet-light;
                         margin: 4% 10% 0 12%;
                         .get-started {
                             float: left;
                             width: 60%;
                             .text-box {
                                 margin: 6% 12%;
                                 .ad-first{
                                    color:rgba(255, 255, 255, 0.925);
                                 }
                                 .ad-second{
                                    color:rgb(0, 0, 0);
                                 }
                             }
                            }
                            .get-started-btn {
                                float: left;
                                width: 40%;
                                .button{
                                    background-color: $dark-blue;
                                    color:$white;
                                    margin: 16% 40%;
                                    &:hover{
                                        color:$white;
                                    }
                                }
                            }
                        }
                    }
                .footer-footer {
                    margin:4% 6% 0 12%;
                    width:80%;
                    .column{
                        display:flex;
                        flex-flow: column wrap;
                        width:16%;
                        float:left;
                        &.first{
                            a{
                                color:$white;
                                text-decoration: none;
                            }
                        }
                        p{
                            color:$white;
                        }
                        a{
                            color:grey;
                        }
                        &.fifth{
                            margin-left:8%;
                            .row{
                            flex-flow: row; 
                            .icon-button {
                                text-decoration: none;
                                background-color: $dark-blue;
                                border-radius: 3.6rem;
                                cursor: pointer;
                                display: inline-block;
                                font-size: 2.0rem;
                                height: 3.6rem;
                                line-height: 3.6rem;
                                margin: 0 4px;
                                position: relative;
                                text-align: center;
                                -webkit-user-select: none;
                                   -moz-user-select: none;
                                    -ms-user-select: none;
                                        user-select: none;
                                width: 3.6rem;
                            }
                            
                            /* Circle */
                            .icon-button span {
                                border-radius: 0;
                                display: block;
                                height: 0;
                                left: 50%;
                                margin: 0;
                                position: absolute;
                                top: 50%;
                                -webkit-transition: all 0.3s;
                                   -moz-transition: all 0.3s;
                                     -o-transition: all 0.3s;
                                        transition: all 0.3s;
                                width: 0;
                            }
                            .icon-button:hover span {
                                width: 3.6rem;
                                height: 3.6rem;
                                border-radius: 3.6rem;
                                margin: -1.8rem;
                            }
                            .twitter span {
                                background-color: #4099ff;
                            }
                            .facebook span {
                                background-color: #3B5998;
                            }
                            .google-plus span {
                                background-color: #db5a3c;
                            }
                            
                            /* Icons */
                            .icon-button i {
                                background: none;
                                color: white;
                                height: 3.6rem;
                                left: 0;
                                line-height: 3.6rem;
                                position: absolute;
                                top: 0;
                                -webkit-transition: all 0.3s;
                                   -moz-transition: all 0.3s;
                                     -o-transition: all 0.3s;
                                        transition: all 0.3s;
                                width: 3.6rem;
                                z-index: 10;
                            }
                            .icon-button .icon-twitter {
                                color: #4099ff;
                            }
                            .icon-button .icon-facebook {
                                color: #3B5998;
                            }
                            .icon-button .icon-google-plus {
                                color: #db5a3c;
                            }
                            .icon-button:hover .icon-twitter,
                            .icon-button:hover .icon-facebook,
                            .icon-button:hover .icon-google-plus {
                                color: white;
                            }
                        }
                    }
                    }
                    
                }
            }
        }
    }
}

h2 {
    letter-spacing: 0px;
    text-decoration: underline $pinky;
}

.text {
    font-family: $font-big;
    font-size: 12px;
    text-transform: uppercase; //text-align: left;
    letter-spacing: 3px;
    font-weight: 800;
}

.way-world {
    position: absolute;
    left: 16%;
    top: 26%;
    color: #fff;
    .first-text {
        font-size: 180px;
    }
}

.site-menu {
    width: 100%;
    height: 14%;
    color: #fff;
    .logo-box {
        position: fixed;
        top: 0;
        margin-left: 4%;
        width: 8%;
        font-size: 30px;
        transition-timing-function: ease-in;
        transform: translateY(40%);
        transition: 1s;
    }
    .main-menu-box {
        z-index: 100;
        position: fixed;
        width: 4%;
        height: 5%;
        font-size: 26px;
        font-weight: 400;
        color: #fff;
        margin-left: 3%;
        top: 2%;
        .main-menu {
            span {
                color: #fff;
                margin-left: -5px;
            }
        }
    }
    .lang-box {
        position: absolute;
        right: 8%;
        top: 4%;
        .RU {
            color: #fff;
            margin-right: 20px;
        }
        .EN {
            color: #fff;
        }
    }
}

.h1 {
    margin-bottom: 16%;
    font-weight: bolder;
    font-size: 60px;
}
/////
$bp-small: 500px;
$bp-arrow: 700px;
$font-primary: 'Lusitana', sans-serif;
$color: $violet;
$color-bg: #fcfcf4;
$color-dark: darken($color, 10%);
$color-lite: lighten($color, 10%);

@mixin position-center {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
}


.site-menu{
p {
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 18px;
  span {
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 20px;
    margin-bottom: 24px;
    background-color: white;
    box-shadow: rgba(black, 0.05) 0px 2px 4px;
    &:before {
      content: '';
      position: absolute;
      top: 0; bottom: 0; left: -12px;
      margin: auto;
      background-color: $color;
      width: 24px;
      height: 24px;
      border-radius: 100%;
      box-shadow: rgba(black, 0.1) 0 0 0 3px;
    }
    &:after {
      content: '';
      pointer-events: none;
      position: absolute;
      top: -2px; bottom: 0; left: -6px;
      margin: auto;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 6px 8px 6px;
      border-color: transparent transparent white transparent;
    }
  }
}

h1 {
  font-size: 40px;
  font-weight: normal;
  line-height: 44px;
  text-align: center;
  margin-bottom: 18px;
  @media (min-width: $bp-small) {
    font-size: 60px;
    line-height: 64px;
  }
}

h3 {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 60px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    cursor: pointer;
    padding: 6px 20px;
    font-size: 48px;
  }
}

button {
  opacity: 0.6;
  background-color: transparent;
  position: fixed;
  z-index: 2;
  top: 24px;
  left: 24px;
  border: none;
  width: 36px;
  height: 30px;
  outline: none;
  transition: opacity 0.2s ease-out;
  &:before {
    content: "";
    @include position-center;
    right: auto;
    width: 100%;
    background: linear-gradient(
      to bottom, 
      $color, $color 20%, 
      transparent 20%, transparent 40%, 
      $color 40%, $color 60%, 
      transparent 60%, transparent 80%, 
      $color 80%, $color 100%
    );
    transition: opacity 0.2s ease-out,
                width 0.2s 0.2s ease-out;
  }
  &:after {
    opacity: 0;
    content: '×';
    color: white;
    position: absolute;
    top: 16px;
    left: -4px;
    font-family: Arial, sans-serif;
    font-size: 76px;
    line-height: 0;
    transition: opacity 0.4s ease-out;
  }
  &:active {
    transform: translateY(2px);
  }
  &:hover {
    opacity: 1;
  }
  .open & {
    opacity: 1;
    &:before {
      opacity: 0;
      width: 0;
    }
    &:after {
      opacity: 1;
      transform: translate3d(0,0,0)
                 rotate(360deg);
      transition: transform 0.4s 1s ease-out,
                  opacity 0.4s 1s ease-out;
    }
  }
}

nav {
  z-index: 1;
  position: fixed;
  top: -100%; left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0,0,0);
  backface-visibility: hidden;
  overflow: hidden;
  &:before {
    content: '';
    @include position-center;
    background: rgba($color-dark, 0.98);
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
    transform: scale(0.04), translateY(9999px);
    overflow: hidden;
  }
  .open & {
    top: 0;
    &:before {
      animation: menu-animation 0.8s ease-out forwards;
    }
  }
}

ul.menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%,0);
  backface-visibility: hidden;
  perspective: 1000;
  color: white;
  li {
    opacity: 0;
    text-align: center;
    transform: translate3d(0,36px,0);
    &:before {
      content: '';
      @include position-center;
      left: auto;
      background-color: white;
      height: 100%;
      width: 0;
      overflow: hidden;
      transition: width 0.14s ease-out;
    }
    &:after {
      opacity: 0;
      content: attr(data-text);
      @include position-center;
      color: $color;
      overflow: hidden;
      transform: translate(-24px, 6px);
      transition: transform 0.1s ease-out,
                  opacity 0.1s ease-out;
    }
    &:hover {
      &:before {
        left: 0;
        right: auto;
        width: 100%;
      }
      &:after {
        opacity: 1;
        padding: 0 20px;
        transform: translate(0px, 6px);
        transition: transform 0.2s 0.14s ease-out,
                    opacity 0.2s 0.14s ease-out;
      }
    }
    .open & {
      opacity: 1;
      transform: translate3d(0,0,0);
      transition: transform 0.2s ease-out,
                  opacity 0.2s ease-out;
      @for $i from 1 to 5 {
        &:nth-child(#{$i}) { transition-delay: $i * 0.1s + 0.65s; }
      }
    }
  }
} 

article {
  padding: 24px;
  max-width: 600px;
  margin: 60px auto;
  transition: 0.2s ease-out;
  .open & {
    transform: scale(0.92);
    transition: transform 0.2s 0.41s ease-out;
  }
}

@keyframes menu-animation {
  0% {
    opacity: 0;
    transform: scale(0.04)
               translateY(300%);
  }
  40% {
    transform: scale(0.04)
               translateY(0);
    transition: ease-out;
  }
  40% {
    transform: scale(0.04)
               translateY(0);
  }
  60% {
    opacity: 1;
    transform: scale(0.02)
               translateY(0px);
  }
  61% {
    transform: scale(0.04);
  }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}}