@import url(http://fonts.googleapis.com/css?family=Raleway:700,800);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(../fonts/museosanscyrl.css);
@import url(../fonts/GothaProMed.otf);
$red : #fa4e40;
$violet-light: #784FBB;
$violet:#472898;
@-webkit-keyframes fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@-moz-keyframes    fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@-o-keyframes      fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
@keyframes         fade-in {   0% { opacity: 0.1; }   100% { opacity: 1; }   }
html,body {
    width:100%;
    height:7000px;
    margin:0;
    padding:0;
  -webkit-animation: fade-in 1s linear; /* Safari 4+ */
  -moz-animation: fade-in 1s linear; /* Fx 5+ */
  -o-animation: fade-in 1s linear; /* Opera 12+ */
  animation: fade-in 1s linear; /* IE 10+, Fx 29+ */
}
.site-font-main{
    text-decoration: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;  
    letter-spacing: 3px;
    font-weight: 600;

&.button{
    text-align: center;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .3s;
    &:hover {
        background: #784FBB;
        box-shadow: 0 15px 20px #2E0F62;
        color: white;
        transform: translateY(-7px);
  }
}
    &.url{
        color:black;
        left:5%;
    }
}  

p{
    font: 400 14px/1.86 MuseoSansCyrl,sans-serif;
    letter-spacing: .025em;
    color:#5e647d;
}
div.down-slider-box{
position: relative;
margin-top:4%;
margin-bottom:4%;
    width:75%;
    a.down{
        font-size: 30px;
        margin-left:16%;
        color:#524f4e49;
        
    }
    a.button{
        background-color: black;
        width: 180px;
        height: 70px;
        font-size:16px;
        padding-top:12px;
        margin-left: 4%;
    }
}
div.phone-box{
position: absolute;
    width:25%;
    top:1%;
    right:0%;
    a.phone{
        font-size: 14px;
        color:#535352;
        font-weight: 1000;
    }
}
  .data-block{
      width: inherit;
      height: inherit;
      margin:0;
      padding:0;
     
  div.full-size-page{
      position: relative;
      width:100%;
      top:0%;
      &.box1{
        position: relative;
        background-color: #472898;
        height: 8%;
      }
      &.box2{
        position: relative;
        background-color: #fff;
        height: 30%;      
      }
      &.box3{
        left:6%;
        top:16%; 
        position: relative;
        background-color: #fff;
        
        div.why-we-the-best{
            text-align: center;
            div.frst{
                float:left;
                width:28%;
            }
            div.scnd{
                float:left;
                width:28%;
            }
            div.thrd{
                float:left;
                width:28%;
            }
            p{
                &.booster{
                    color:$violet-light;
                    margin-bottom: 0;
                }
            }
            h2{
                text-decoration: underline $violet-light;
                font: 600 36px MuseoSansCyrl,sans-serif;
                letter-spacing: 0px;
                text-transform: none;

            }
            img.booster-img{
                width: 300px;
                height: 300px;
            }
        }
      }
  }
}
.text{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    //text-align: left;
    letter-spacing: 3px;
    font-weight: 800;
}
.way-world{
    position: absolute;
    left:16%;
    top:26%;
    color:#fff;
    .first-text{
        font-size: 180px;
    }
}
.site-menu{
    width: 100%;
    height: 14%;
    color:#fff;
    .logo-box{
        position: absolute;
        top:0;
        margin-left:8%;
        width:8%;
        font-size: 30px;
        transition-timing-function: ease-in;
        transform: translateY(40%);
        transition: 1s;

    }
    .main-menu-box{
        position: relative;
        width: 4%;
        height:100%;
        font-size: 26px;
        font-weight: 400; 
        color:#fff;
        margin-left: 3%;
        top:14%;
    .main-menu span{ 
        color:#fff;     
        margin-left:-5px;   
    } 
    }
    .lang-box{
        
        position: absolute;
        right:8%;
        top:4%;
        .RU{
            color:#fff;
            margin-right: 20px;
        }
        .EN{
            color:#fff;
        }
    }
}



.h1{
    margin-bottom: 16%;
     font-weight: bolder;
     font-size: 60px;
 }
.main-infobox{
    position: relative;
    .parallax-image-infobox{
        margin-left: 12%;
        &.box1{
            width: 50%;
            img{
                width:70%;
                height:36%;
            }
        }
        &.box2{
            img{
                top:0%;
                width:86%;
                height:12%;
            }
        }
    }
    .parallax-image-infobox2{
        position: absolute;
        right:-2.7%;
        width: 50%;
        top:55%;
            img{
                width:70%;
                height:44%;
            }
        }
    .text-infobox2{
        position:relative;
        left:16%;
        margin-top:6%;
        width:32%;
        h1{
            span{
                color: $violet;
            }
            margin-bottom: 16%;
             font-weight: bolder;
             font-size: 60px;
         }
    }
    .text-infobox{
        position: absolute;
        right:16%;
        top:6%;
        width:30%;
        h1{
           margin-bottom: 16%;
            font-weight: bolder;
            font-size: 60px;
            span{
                color: $violet;
            }
        }
        .questions-box{
            top:0%;
            width:100%;
            p{
                font:700 12px/1.7 Gotham Pro,sans-serif;
                color:#fa4e40;
                letter-spacing: 1px;
                width:100%;
                a{
                    font:700 12px/1.7 Gotham Pro,sans-serif;
                    letter-spacing: 1px;
                    color:#fa4e40;
                    text-decoration: underline;
                    margin-right: 0;
                    padding-top: 20px;
                }
                .site-font-main.button{
                    position: relative;
                    margin: 0 6px;
                    padding-left:0;
                    padding-top:2px;
                    color:#fff;
                    background-color: black;
                    width:26px;
                    height:26px;
                    text-decoration: none;
                }
            }
        }
            
    }
}