@import url(http://fonts.googleapis.com/css?family=Raleway:700,800);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(../fonts/museosanscyrl.css);
@import url(../fonts/GothaProMed.otf);
@import url(../fonts/Apercu_Pro_Italic.ttf);
@-webkit-keyframes fade-in {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

html, body {
  width: 100%;
  height: 7000px;
  margin: 0;
  padding: 0;
  -webkit-animation: fade-in 1s linear;
  /* Safari 4+ */
  /* Fx 5+ */
  /* Opera 12+ */
  animation: fade-in 1s linear;
  /* IE 10+, Fx 29+ */
}

.site-font-main {
  text-decoration: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
}

.site-font-main.button {
  text-align: center;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  color: #524f4e;
  background: white;
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s;
  transition: .3s;
}

.site-font-main.button:hover {
  background: #784FBB;
  -webkit-box-shadow: 0 15px 20px #2E0F62;
          box-shadow: 0 15px 20px #2E0F62;
  color: white;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.site-font-main.url {
  color: black;
  left: 5%;
}

p {
  font: 400 14px/1.86 MuseoSansCyrl,sans-serif;
  letter-spacing: .025em;
  color: #5e647d;
}

div.data-block {
  width: inherit;
  height: inherit;
  margin: 0;
  padding: 0;
}

div.data-block div.full-size-page {
  position: relative;
  width: 100%;
  top: 0%;
}

div.data-block div.full-size-page.box1 {
  height: 8%;
  position: relative;
  background-color: #472898;
}

div.data-block div.full-size-page.box2 {
  position: relative;
  background-color: #fff;
}

div.data-block div.full-size-page.box2 div.down-slider-box {
  float: left;
  position: relative;
  margin-top: 4%;
  margin-bottom: 4%;
  width: 75%;
}

div.data-block div.full-size-page.box2 div.down-slider-box a.down {
  font-size: 30px;
  margin-left: 10%;
  color: #524f4e49;
}

div.data-block div.full-size-page.box2 div.down-slider-box a.button {
  background-color: black;
  width: 180px;
  height: 70px;
  font-size: 16px;
  padding-top: 12px;
  margin-left: 4%;
}

div.data-block div.full-size-page.box2 div.phone-box {
  float: left;
  position: relative;
  margin-top: 6.5%;
  width: 25%;
}

div.data-block div.full-size-page.box2 div.phone-box a.phone {
  font-size: 14px;
  color: #535352;
  font-weight: 1000;
}

div.data-block div.full-size-page.box3 {
  height: 8%;
  position: relative;
  background-color: #fff;
  margin-top: 16%;
  margin-left: 8%;
}

div.data-block div.full-size-page.box3 div.why-we-the-best {
  text-align: center;
}

div.data-block div.full-size-page.box3 div.why-we-the-best div.frst {
  float: left;
  width: 28%;
}

div.data-block div.full-size-page.box3 div.why-we-the-best div.scnd {
  float: left;
  width: 28%;
}

div.data-block div.full-size-page.box3 div.why-we-the-best div.thrd {
  float: left;
  width: 28%;
}

div.data-block div.full-size-page.box3 div.why-we-the-best p.booster {
  color: #784FBB;
  margin-bottom: 0;
}

div.data-block div.full-size-page.box3 div.why-we-the-best h2 {
  font: 600 36px MuseoSansCyrl,sans-serif;
  letter-spacing: 0px;
  text-transform: none;
}

div.data-block div.full-size-page.box3 div.why-we-the-best img.booster-img {
  width: 300px;
  height: 300px;
}

div.data-block div.full-size-page.box4 {
  height: 8%;
  position: relative;
  width: 100%;
  background-color: #f2f2f2;
}

div.data-block div.full-size-page.box4 .headofBlock {
  padding-top: 10%;
  font: 700 12px/1.7 Gotham Pro,sans-serif;
  color: #472898;
  letter-spacing: 1px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

div.data-block div.full-size-page.box4 .double-background-parallax img.logo-box {
  margin-top: 6%;
  margin-left: 18%;
  float: left;
  width: 120px;
  height: 120px;
}

div.data-block div.full-size-page.box4 .double-background-parallax span {
  margin-top: 4%;
  color: #472898;
  font: 700 italic 50px/1.7 Apercu Pro, sans-serif;
}

div.data-block div.full-size-page.box4 .double-background-parallax span.first {
  margin-left: 40px;
  float: left;
}

div.data-block div.full-size-page.box4 .double-background-parallax span.second {
  float: left;
}

div.data-block div.full-size-page.box4 .double-background-parallax p {
  font: 400 italic 18px/1.55 Apercu Pro,sans-serif;
  margin-left: 3%;
  margin-right: 1%;
  margin-top: 6%;
  float: left;
  width: 40%;
}

div.data-block div.full-size-page.box5 {
  margin-top: 10%;
  position: relative;
  height: 12%;
  background-color: #784FBB;
}

div.data-block div.full-size-page.box5 .products-all .way img.product-logo {
  width: 160px;
  height: 160px;
}

div.data-block div.full-size-page.box5 .products-all .way.world {
  margin-left: 50%;
  padding-top: 20%;
}

h2 {
  letter-spacing: 0px;
  -webkit-text-decoration: underline #784FBB;
          text-decoration: underline #784FBB;
}

.text {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
}

.way-world {
  position: absolute;
  left: 16%;
  top: 26%;
  color: #fff;
}

.way-world .first-text {
  font-size: 180px;
}

.site-menu {
  width: 100%;
  height: 14%;
  color: #fff;
}

.site-menu .logo-box {
  position: fixed;
  top: 0;
  margin-left: 4%;
  width: 8%;
  font-size: 30px;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
  -webkit-transition: 1s;
  transition: 1s;
}

.site-menu .main-menu-box {
  position: fixed;
  width: 4%;
  height: 5%;
  font-size: 26px;
  font-weight: 400;
  color: #fff;
  margin-left: 3%;
  top: 2%;
}

.site-menu .main-menu-box .main-menu span {
  color: #fff;
  margin-left: -5px;
}

.site-menu .lang-box {
  position: absolute;
  right: 8%;
  top: 4%;
}

.site-menu .lang-box .RU {
  color: #fff;
  margin-right: 20px;
}

.site-menu .lang-box .EN {
  color: #fff;
}

.h1 {
  margin-bottom: 16%;
  font-weight: bolder;
  font-size: 60px;
}

.main-infobox {
  position: relative;
}

.main-infobox .parallax-image-infobox {
  float: left;
  margin-left: 12%;
}

.main-infobox .parallax-image-infobox.box1 {
  width: 30%;
}

.main-infobox .parallax-image-infobox.box1 img {
  width: 100%;
  height: 11%;
}

.main-infobox .parallax-image-infobox.box2 img {
  top: 0%;
  width: 86%;
  height: 4%;
}

.main-infobox .parallax-image-infobox2 {
  position: absolute;
  right: -2.7%;
  width: 50%;
  top: 55%;
}

.main-infobox .parallax-image-infobox2 img {
  width: 70%;
  height: 11%;
}

.main-infobox .text-infobox2 {
  position: relative;
  left: 16%;
  margin-top: 6%;
  width: 32%;
}

.main-infobox .text-infobox2 h1 {
  margin-bottom: 16%;
  font-weight: bolder;
  font-size: 60px;
}

.main-infobox .text-infobox2 h1 span {
  color: #472898;
}

.main-infobox .text-infobox {
  float: left;
  position: relative;
  width: 30%;
  margin-left: 10%;
  margin-top: 8%;
}

.main-infobox .text-infobox h1 {
  margin-bottom: 16%;
  font-weight: bolder;
  font-size: 60px;
}

.main-infobox .text-infobox h1 span {
  color: #472898;
}

.main-infobox .text-infobox .questions-box {
  top: 0%;
  width: 100%;
}

.main-infobox .text-infobox .questions-box p {
  font: 700 12px/1.7 Gotham Pro,sans-serif;
  color: #472898;
  letter-spacing: 1px;
  width: 100%;
}

.main-infobox .text-infobox .questions-box p a {
  font: 700 12px/1.7 Gotham Pro,sans-serif;
  letter-spacing: 1px;
  color: #472898;
  text-decoration: underline;
  margin-right: 0;
  padding-top: 20px;
}

.main-infobox .text-infobox .questions-box p .site-font-main.button {
  position: relative;
  margin: 0 6px;
  padding-left: 0;
  padding-top: 2px;
  color: #fff;
  background-color: black;
  width: 26px;
  height: 26px;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */